= form_for @user do |f|
  -if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    %legend Security Roles
    .field
      = f.label :producer
      = f.check_box :producer
    .field
      = f.label :director
      = f.check_box :director
    .field
      = f.label :actor
      = f.check_box :actor

  %fieldset
    %legend Change Password
    %em Leave empty to keep the current password
    .field
      = f.label :password, "New password"
      = f.password_field :password
    .field
      = f.label :password_confirmation, "Confirm password"
      = f.password_field :password_confirmation

  .actions
    = f.submit 'Save'
    = link_to 'Cancel', users_path
