%h1 Users

%table
  %tr
    %th Username
    %th Producer
    %th Director
    %th Actor
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.username
      %td= user.producer
      %td= user.director
      %td= user.actor
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New User', new_user_path
