%h1 Test the Password for User '#{@user.username}'

= form_for @user, :url => user_authenticate_path(@user), :method => :get do |f|
  -if @user.errors.any?
    #error_explanation
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg


  %fieldset
    %legend Enter a Password
    .field
      = f.label :password
      = f.text_field :password

    .actions
      = f.submit 'Test Password'
      = link_to 'Cancel', users_path
